.boton {
  border: 1px solid #2e518b;
  /*anchura, estilo y color borde*/
  padding: 10px 20px;
  /*espacio alrededor texto*/
  margin: 60% 40%;
  background-color: #2e518b;
  /*color botón*/
  color: #ffffff;
  /*color texto*/
  text-decoration: none;
  /*decoración texto*/
  /*text-transform: uppercase; /*capitalización texto*/
  font-family: 'Helvetica', sans-serif;
  /*tipografía texto*/
  border-radius: 10px;
  /*bordes redondos*/
  box-sizing: border-box;
}

/* Bordered form */
form {
  border: 3px solid #f1f1f1;
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 5px auto;
  /* 15% from the top and centered */
  border: 1px solid #888;
  width: 60%;
  /* Could be more or less, depending on screen size */
  border-radius: 10px;
  /*bordes redondos*/
}

/* Full-width inputs */
input[type=text],
input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 1px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  border-radius: 10px;
}

/* Set a style for all buttons */
button {
  background-color: #04AA6D;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

/* Add a hover effect for buttons */
button:hover {
  opacity: 0.8;
}

/* Extra style for the cancel button (red) */
.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
}

/* Center the avatar image inside this container */
.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
}

/* Avatar image */
img.avatar {
  width: 10%;
  border-radius: 50%;
}

/* Add padding to containers */
.container {
  padding: 16px;
  font-family: 'Helvetica', sans-serif;
  /*tipografía texto*/
}

/* The "Forgot password" text */
span.psw {
  float: right;
  padding-top: 16px;
}

hr {
  background-color: white;
  height: 1px;
  border: 0;
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
    display: block;
    float: none;
  }

  .cancelbtn {
    width: 100%;
  }
}